---
intro: >
  This is my blog, where I write about stuff that interests me such as .NET, 
  Rust, CI/CD and technology in general. I am a husband and a father, and 
  I enjoy contributing to Open Source projects.
socialMediaLinks:
  - link: https://twitter.com/firstdrafthell
    title: Twitter
    class: fa fa-twitter
  - link: https://github.com/patriksvensson
    title: GitHub
    class: fa fa-github
  - link: https://stackoverflow.com/users/936/patrik
    title: Stack Overflow
    class: fa fa-stack-overflow
  - link: https://www.linkedin.com/in/psvensson82
    title: LinkedIn
    class: fa fa-linkedin
---

<div id="content">

    <div class="row">
        <div class="8u 12u$(medium)">
            {{#each posts}}
            <div>
                <a href="{{link}}">
                    <h2>{{title}}</h2>
                </a>
                <p>{{date}}</p>
                {{{excerpt}}}
            </div>
            {{/each}}
        </div>
        <div class="4u 12u$(medium)">
            <h5>What is this?</h5>
            <p>
              This is my blog, where I write about stuff that interests me such as .NET,
              Rust, DevOps, and technology in general.<br />
              I am a husband and a father,
              and I enjoy contributing to <a href="https://github.com/patriksvensson">Open Source projects</a>,
              such as <a href="https://github.com/cake-build/cake">Cake</a> which I founded back in 2014.
              I'm also building <a href="https://spectresystems.se/ghostly/">Ghostly</a> 
              which is a GitHub notification client for Windows 10.
            </p>

            <p>
                <img src="/assets/images/mvp.png" width="100%" />
            </p>

            <h5>Contact</h5>
            <ul class="list-unstyled">
                {{#each socialMediaLinks}}
                <li><a href="{{link}}"><i class="{{class}}"></i> {{title}}</a></li>
                {{/each}}
            </ul>

            <h5>Projects</h5>
            <ul class="list-unstyled">
                <li><a href="https://github.com/cake-build/cake">Cake</a></li>
                <li><a href="https://spectresystems.se/ghostly">Ghostly</a></li>
                <li><a href="https://duckhq.org">Duck</a></li>
            </ul>

            <h5>Tags</h5>
            <ul class="actions small" style="padding-top: 10px;">
                {{#each tags}}
                {{#if has_posts}}
                <li><a role="button" href="{{link}}" class="button small ">{{title}} ({{count}})</a></li>
                {{/if}}
                {{/each}}
            </ul>
            <ul class="actions small">
                <li><a href="/tags" class="button small">View All Tags &rarr;</a></li>
            </ul>

            <h5>Older Posts</h5>
            <ul>
                {{#each olderPosts}}
                <li><a href="{{link}}">{{title}}</a></li>
                {{/each}}
            </ul>
            <ul class="actions small">
                <li><a href="/posts" class="button small">Archive &rarr;</a></li>
            </ul>

            <h5>Feeds</h5>
            <ul class="actions small" style="padding-top: 10px;">
                <li><a href="/rss.xml" class="button small"><i class="fa fa-rss"></i> RSS Feed</a></li>
                <li><a href="/feed.xml" class="button small"><i class="fa fa-rss"></i> Atom Feed</a></li>
            </ul>

        </div>
    </div>

</div>